/* Counter program */

/* #countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}

#counterTitle{
    display: block;
    text-align: center;
    font-family: Lucida Sans;
    font-style: italic;
    color: rgb(200, 130, 38);
}

#btnContainer{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(235, 162, 66) ;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: rgb(116, 79, 29);
} */

/* Counter program */

/* Checked property program */
/* #mySubmit{
    padding: 10px 20px;
    font-size: 1.0em;
} */

/* Checked property program */

/* Temperatue Converion Program */
/* body{
    font-family: Arial, sans-serif;
    background-color: rgb(243, 237, 237);
}

h1{
    color: hsl(217, 45%, 19%);
}

form{
    background-color: white;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsl(0, 2%, 31%);
}

#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid rgb(192, 185, 185);
    border-radius: 20px;
    margin-bottom: 15px;
}

label{
    font-size: 1.5em;
    font-weight: bold;
}

button{
    margin-top: 15px;
    border-radius: 20px;
    background-color: hsl(274, 11%, 28%);
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    color: white;  
}

button:hover{
    background-color: hsl(274, 11%, 60%);
}

#result{
    font-size: 1.75em;
    font-weight: bold;
} */

/*------------------------------------- */

/* #container{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    background-color: hsl(180, 60%, 10%);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: hsl(180, 60%, 50%);
}

button:active{
    background-color: hsl(180, 60%, 90%);
}

input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}

#diceResult{
    margin: 25px;
}

#diceImages img{
    width: 100px;
    margin: 5px;
} */

/*-------------------------------*/

/* body{
    background: url(/src/image/newYorkCentralPark.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
    backdrop-filter: blur(5px);
    background-color: hsla(0, 0%,100%,0.1);
    width: 100%;
} */

/*------------------------------------*/